*
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .manager
    {
        text-align: center;
        padding: 5rem 0;
    }
    #wrapper
    {
        
        width: 500px;
        background-color: blue;
        color: #fff;
        text-align: center;
        margin: auto;
        padding: 3rem 0;
    }

    #wrapper h3{
        margin: 1rem 0;
    }
    #table-box table
    {
        border: 2px solid #fff;
        border-collapse: collapse;
        margin: auto;
    }
    .tr, td, th
    {  
        border: 2px solid #fff;
        border-collapse: collapse;
        padding: 2px 5px;

    }

    input #input1 {
        padding: 10px 7px;
        border-radius: 8px;
        border: none;
    }
    #wrapper button
    {
        color: #fff;
        background-color: transparent;
        border: solid #fff;
        text-decoration: none;
        margin: 1rem;
        padding: 5px 10px;
        /* border-radius:0 10px; */
        }